@import url('https://fonts.cdnfonts.com/css/gill-sans-nova-cond-ultra-bold');
@import url('https://fonts.cdnfonts.com/css/gill-sans?styles=17577');
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffc400;
    padding: 10px;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 100%;
}

nav ul li a:hover {
    color: #ffc400;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}

.section {
    padding: 20px;
}

/* Estilos específicos para cada sección */
#create-user {
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
    display: flex;

}

#create-user h2 {
    color: #ffc400;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}

#create-product {
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
}

#create-product h2 {
    color: #ffc400;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}

#delete-user {
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
}

#delete-user h2 {
    color: #ffc400;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}

#delete-product {
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
}

#delete-product h2 {
    color: #ffc400;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}

#create-category {
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
}

#create-category h2 {
    color: #ffc400;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}

#delete-order {
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
}

#delete-order h2 {
    color: #ffc400;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}

a{
    text-decoration: none;
    color:black;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
    font-size: 100%;
    padding: 0px;
}